<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Feed</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/feed.css">
	</head>
	<body>
        <header>
            <h1>feed</h1>
		    <a href="/profile">Go To My Profile</a>
        </header>
        <!-- use this for ejs stuff later -->
        <section id="posts">
            <% posts.forEach(post => { %>
            <a class="post" href="/post/<%= post._id %>">
                <div class="post-title"><%= post.title %></div>
                <img class="post-image" src="<%= post.image %>">
            </a>
            <% }); %>
        </section>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

