<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Welcome</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>best social media site evr</h1>
		<% if(isAuth){ %>
			<a href="/profile">My Profile</a>
		<% } else { %>
			<a href="/login">Log In</a>
			<a href="/signup">Sign Up</a>
		<% } %>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

