<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Login</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Login</h1>
		<% if(locals.messages.errors) { %>
			<% for (let i = 0; i < messages.errors.length; i++) { %>
				<p><%= messages.errors[i].msg%></p>
			<% } %>
		<% } %>
        <form method="POST" action="/login">
            <label for="userName">Email</label>
            <input id="email" required name="email" type="email" placeholder="Enter Email">
            <label for="password">Password</label>
            <input id="password" required name="password" type="password" placeholder="Enter Password">
            <button type="submit">Submit</button>
        </form>
        <a href="/">Home</a>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

