<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Log In</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>log in page</h1>
        <form method="POST" action="/login">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="Enter Email">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter Password">
            <input type="submit" value="Submit">
        </form>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

