:root{
    --box-shadow: 0 0 5px black;
    --border:2px rgb(0, 0, 0) solid;
}


header{
    display:flex;
    justify-content: right;
    align-items: center;
}
header > * {
    margin: 0 2%;
}
.post{
    margin:5% 0;
    border: var(--border);
    border-radius:15px;
    width:25%;
    height:25vw;
    box-shadow: var(--box-shadow);
    background-color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.post:hover{
    cursor:pointer;
    filter:brightness(95%);
}
.post:active{
    filter:brightness(90%);
}

#posts{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width:100%;
}

.post-title{
    font-size:calc(.5rem + 2vw);
    text-align: center;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-image{
    min-width:50%;
    max-width:75%;
    max-height:50%;
    border-radius:5px;
    border: var(--border);
}